In [1]:
import requests
import pandas as pd
import json
import psycopg2

# Doczytywanie

In [34]:
data = 'https://api.covidtracking.com/v1/states/daily.json'
d =requests.get(data)
df = pd.read_json(d.text)
df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20201216,AK,41041.0,NaN,1125104.0,NaN,totalTestsViral,1166145.0,146.0,921.0,...,1166145,2,13,4cc652e8055f7b646bdc618bca3e1089f4f8d0be,0,0,0,0,0,
1,20201216,AL,305640.0,55791.0,1491279.0,NaN,totalTestsPeopleViral,1741128.0,2310.0,29559.0,...,1796919,74,300,a29ae24dc5c95fcb0d5ed612ea6326af30498464,0,0,0,0,0,
2,20201216,AR,191504.0,28274.0,1722858.0,NaN,totalTestsViral,1886088.0,1079.0,10230.0,...,1914362,58,134,5716d9e5e0223b23edb30d70ddb1deffd5fab970,0,0,0,0,0,
3,20201216,AS,0.0,NaN,2140.0,NaN,totalTestsViral,2140.0,NaN,NaN,...,2140,0,0,1100b4acd420e8fdbcc2ccde1d01b29b8617f10e,0,0,0,0,0,
4,20201216,AZ,429219.0,16769.0,2148190.0,NaN,totalTestsViral,4409083.0,3809.0,31468.0,...,2577409,108,202,a963c8f4779f1938753746149e4053f5a4c34b32,0,0,0,0,0,

# Bazowe dane

In [30]:
#https://github.com/nytimes/covid-19-data
data = 'https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
df = pd.read_csv(data)
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

# Populacja info

In [29]:
#docs https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/cc-est2019-alldata.pdf
data = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/asrh/cc-est2019-alldata.csv'
df = pd.read_csv(data,encoding='ISO-8859-1')
df.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,BA_MALE,BA_FEMALE,IA_MALE,IA_FEMALE,AA_MALE,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,WAC_MALE,WAC_FEMALE,BAC_MALE,BAC_FEMALE,IAC_MALE,IAC_FEMALE,AAC_MALE,AAC_FEMALE,NAC_MALE,NAC_FEMALE,NH_MALE,NH_FEMALE,NHWA_MALE,NHWA_FEMALE,NHBA_MALE,NHBA_FEMALE,NHIA_MALE,NHIA_FEMALE,NHAA_MALE,NHAA_FEMALE,NHNA_MALE,NHNA_FEMALE,NHTOM_MALE,NHTOM_FEMALE,NHWAC_MALE,NHWAC_FEMALE,NHBAC_MALE,NHBAC_FEMALE,NHIAC_MALE,NHIAC_FEMALE,NHAAC_MALE,NHAAC_FEMALE,NHNAC_MALE,NHNAC_FEMALE,H_MALE,H_FEMALE,HWA_MALE,HWA_FEMALE,HBA_MALE,HBA_FEMALE,HIA_MALE,HIA_FEMALE,HAA_MALE,HAA_FEMALE,HNA_MALE,HNA_FEMALE,HTOM_MALE,HTOM_FEMALE,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,54571,26569,28002,21295,22002,4559,5130,119,139,200,284,29,18,367,429,21633,22391,4704,5306,277,314,300,409,42,37,25875,27386,20709,21485,4512,5091,103,115,194,280,13,9,344,406,21026,21853,4647,5258,251,282,291,398,23,27,694,616,586,517,47,39,16,24,6,4,16,9,23,23,607,538,57,48,26,32,9,11,19,10
1,50,1,1,Alabama,Autauga County,1,1,3579,1866,1713,1411,1316,362,317,5,3,13,15,1,0,74,62,1479,1368,405,362,23,18,34,28,3,1,1778,1651,1337,1260,356,313,2,2,13,15,0,0,70,61,1402,1312,396,357,19,17,34,28,1,0,88,62,74,56,6,4,3,1,0,0,1,0,4,1,77,56,9,5,4,1,0,0,2,1
2,50,1,1,Alabama,Autauga County,1,2,3991,2001,1990,1521,1526,399,374,14,8,17,21,1,3,49,58,1570,1583,425,403,27,19,32,42,3,4,1933,1916,1460,1465,398,372,12,2,17,21,0,3,46,53,1506,1517,423,400,25,12,30,39,1,4,68,74,61,61,1,2,2,6,0,0,1,0,3,5,64,66,2,3,2,7,2,3,2,0
3,50,1,1,Alabama,Autauga County,1,3,4290,2171,2119,1658,1620,431,406,15,12,23,18,4,1,40,62,1694,1681,453,436,29,27,32,37,4,5,2105,2055,1613,1570,421,403,12,9,22,18,3,0,34,55,1643,1624,440,429,24,22,30,36,3,4,66,64,45,50,10,3,3,3,1,0,1,1,6,7,51,57,13,7,5,5,2,1,1,1
4,50,1,1,Alabama,Autauga County,1,4,4290,2213,2077,1628,1585,502,424,12,7,25,14,4,2,42,45,1664,1624,525,444,23,20,39,31,6,5,2153,2026,1580,1543,495,420,12,5,23,14,1,1,42,43,1616,1580,518,439,23,18,37,30,3,4,60,51,48,42,7,4,0,2,2,0,3,1,0,2,48,44,7,5,0,2,2,1,3,1

# Poverty rates

In [14]:
#Poverty
#https://overflow.solutions/demographic-traits/income/which-u-s-counties-have-the-most-people-living-in-poverty/
data = 'https://overflow.solutions/wp-content/uploads/2020/05/Poverty_County_18.csv'
df = pd.read_csv(data)
df.head()

,Geo_Name,Total_Pop,Child_Pop,Elder_Pop,Pov_Rate,Pov_Rate_Child,Pov_Rate_Elder,State_FIPS,County_FIPS
0,"Washington County, Mississippi",47086,12349,6953,33.3,48.1,17.1,28,151
1,"Perry County, Mississippi",12028,2809,2072,18.7,25.6,16.6,28,111
2,"Choctaw County, Mississippi",8321,1844,1740,23.3,38.3,13.1,28,19
3,"Itawamba County, Mississippi",23480,5134,4005,15.4,18.3,13.0,28,57
4,"Carroll County, Mississippi",10129,1969,2249,14.8,18.1,14.9,28,15

# Education

In [19]:

#https://overflow.solutions/demographic-traits/education/what-u-s-counties-are-the-most-educated/
data = 'https://overflow.solutions/wp-content/uploads/2020/04/Educ_Attain_County_18.csv'
df = pd.read_csv(data)
df.head()

,Geo_Name,25Plus_Pop,HS_plus,Bach_plus,Adanced_Degree,State_FIPS,County_FIPS
0,"Washington County, Mississippi",30308.0,78.5,18.8,7.3,28,151
1,"Perry County, Mississippi",8198.0,81.3,11.0,2.5,28,111
2,"Choctaw County, Mississippi",5799.0,80.4,17.7,6.9,28,19
3,"Itawamba County, Mississippi",15684.0,78.5,13.4,4.9,28,57
4,"Carroll County, Mississippi",7248.0,81.7,14.5,5.0,28,15

# Income

In [21]:
import requests
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_United_States_counties_by_per_capita_income').text
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})
df = pd.read_html(str(table))
df = pd.DataFrame(df[0])
df.head()